@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  color: balck;
  font-family: 'Ubuntu', sans-serif;
}

#myInput {
  
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 370px;
  font-size: 18px;
  padding: 12px 20px 12px 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  
}

#myTable {
  border-collapse: collapse;
  width: 370px;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 8px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: lightgrey;
  
}
